div.content {
    width: 100%;
    height: 150px;
}

div.content img {
    width: 190px; 
}

@supports(object-fit: cover){
    div.content img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}